

       
        .box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background: url("https://images.unsplash.com/photo-1444930694458-01babf71870c?q=80&w=1563&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    opacity: .8;
    
        }
        #datetime {
            font-size: 25px;
            color: orangered;
        }
        #greet {
            font-size: 25px;
            color: purple;
        }
